<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true">
    <testsuites>
        <!-- Der Bot bekommt eine eigene Suite, sobald seine Module testbar sind -->
        <testsuite name="logviewer">
            <directory>tests/logviewer</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>logviewer/src</directory>
        </include>
    </source>
</phpunit>
