<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true">
    <testsuites>
        <testsuite name="bot">
            <directory>tests/bot</directory>
        </testsuite>
        <testsuite name="logviewer">
            <directory>tests/logviewer</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>bot/src</directory>
            <directory>logviewer/src</directory>
        </include>
    </source>
</phpunit>
